body {
  min-height: 100%;
}

.App {
  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn2.thecatapi.com/images/a8o.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    
}

.App-container {
  background: rgba(255, 255, 255, 0.35);
  min-height: 100vh;
  
  -webkit-backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 7em !important;
}

h4 {
  font-size: 1.9em !important;
  margin-bottom: 4em;
}

.full-screen-height {
  min-height: 100vh;
}

.startBtnSize {
  width: 10em !important;
}

.card {
  background-color: unset !important;
  border: none !important;
}

.card-img:hover, .btnFloating:hover + .card-img {
  -webkit-filter: grayscale(100%) blur(1.5px); 
  filter: grayscale(100%) blur(1.5px);

}

.card-img:hover + .btnFloating {
  visibility: hidden;
}

.card-inner-container { 
  display: flex;
  flex-direction: column-reverse;
}

.btnFloating {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);

  z-index: 99;
  
  width: 6em;
  height: 6em;
  border-radius: 50% !important;

  /* border: none !important; */
  /* visibility: hidden; */
}

.btn:hover {
  background: rgba(134, 134, 134, 0.5) !important;
}
